@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--bg-secondary: #f0f0f0;
	--overlay: #ffffff;

	--accent: #4a4a4a;
	--tertiary: #a0a0a0;
	--text-hover: #333333;
	--placeholder: #cccccc;

	--bg-dots: #eaeaea;

	--badge-bg: #dddddd;
	--badge-text: #666666;
	--badge-hover: #cccccc;

	--nav-selected: #e0e0e0;
	--nav-hover: #d4d4d4;

	--btn-bg: #f9f9f9;
	--btn-hover: #e0e0e0;

	--input-bg: #ffffff;
	--input-hover: #f0f0f0;
	--input-focused: #e0e0e0;
	--input-outline: #cccccc;

	--icons: #4a4a4a;

	--selection-text: #ffffff;
	--selection-bg: #4a4a4a;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #070706;
		--bg-secondary: #0f0e0d;
		--overlay: #070706;

		--accent: #c6bca0;
		--tertiary: #6b6b64;
		--text-hover: #e7dcc3;
		--placeholder: #88858079;

		--bg-dots: #0e0e0c;

		--badge-bg: #181816;
		--badge-text: #888580;
		--badge-hover: #222222;

		--nav-selected: #1d1d1a;
		--nav-hover: #121210;

		--btn-bg: #0f0e0d;
		--btn-hover: #141413;

		--input-bg: #0c0b0b98;
		--input-hover: #11111198;
		--input-focused: #16161698;
		--input-outline: #74746b0e;

		--icons: #c6bca0;

		--selection-text: var(--bg-main_dark);
		--selection-bg: var(--accent_dark);
	}
}

body {
	background-color: var(--background);
	position: absolute;
	inset: 0;
	background-image: radial-gradient(var(--bg-dots) 1px, transparent 1px);
	background-size: 16px 16px;
}

* {
	scrollbar-width: thin;
	scrollbar-color: var(--accent) var(--bg-secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 17px;
}

*::-webkit-scrollbar-track {
	background: var(--accent);
	border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--bg-main);
	border-radius: 14px;
	border: 3px solid var(--accent);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--bg-secondary);
}

::selection {
	background-color: var(--selection-bg);
	color: var(--selection-text);
}

.--svg-icon path {
	stroke: var(--accent);
}

.--svg-icon_fill {
	fill: var(--accent);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
